@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Playfair+Display:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #116466;
  font-size: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.199);
  -webkit-animation: navdrop 0.5s ease-in-out;
          animation: navdrop 0.5s ease-in-out;
  height: 7.5rem;
  z-index: 100;
}

a.navButton.active {
  background-color: #2c3531;
  color: #ffcb9a;
}

.navButton {
  text-decoration: none;
  padding: 2rem 0.5rem;
  color: #d1e8e2;
  display: inline-block;
  border-radius: 10%;
}
.navButton h1 {
  font-size: 1.75rem;
}

.navsection {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #d1e8e2;
}

.menuOptions {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  color: #d1e8e2;
}

#navleft {
  padding-left: 2rem;
  width: 42.5%;
}

#navmid {
  justify-content: center;
  width: 15%;
}

#self_logo {
  display: inline-block;
  background-color: #d1e8e2;
  border-radius: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 0.75rem;
  font-size: 4rem;
  font-weight: 700;
  color: #2c3531;
}

#navright {
  flex-direction: row-reverse;
  padding-right: 1rem;
  width: 42.5%;
}

.navSocials {
  display: flex;
  gap: 1rem;
}

.nav_logo {
  display: inline-block;
}
.nav_logo .linkedin_outer {
  fill: #d1e8e2;
}
.nav_logo .linkedin_outer_hover {
  fill: #2c3531;
}
.nav_logo .linkedin_inner {
  fill: #116466;
}
.nav_logo .linkedin_inner_hover {
  fill: #d9b08c;
}
.nav_logo #github_logo {
  fill: #d1e8e2;
}
.nav_logo #github_logo:hover {
  fill: #2c3531;
}

#nametag {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  color: #d1e8e2;
}

@-webkit-keyframes navdrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes navdrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.footerSection {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border: 1rem;
  background-color: #116466;
  color: #d1e8e2;
  border-radius: 0.25rem;
}

.footertag {
  display: inline-block;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.intro {
  position: relative;
  display: grid;
  grid-template: 1fr/2fr 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(white, 50%, #2b6777);
}

.greetings {
  grid-row: 1/span 1;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-container {
  align-self: flex-start;
  display: flex;
  margin: 2rem 2rem 1rem;
  gap: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  width: 7.5rem;
}

.logo_image {
  width: 100%;
  height: 70%;
}

.logo_text {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.logo_text span {
  font-size: inherit;
}

.move {
  transform: translateX(-100%);
}

.intro-content {
  margin-right: 10%;
  /* Use this line to toggle with nameplate sign. Nameplate and charactertag fonts must be resized as well */
  width: 37rem;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.intro_statement {
  align-self: center;
  max-inline-size: 60%;
  text-align: center;
  color: white;
}

.intro_statement p {
  font-size: 2em;
}

.nameplate {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  color: #2c3531;
  background-color: #d1e8e2;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.322), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 1rem;
  gap: 1rem;
  border: 1.5rem ridge #116466;
}

.nameplate p {
  display: block;
  font-size: 4em;
  font-weight: 700;
  margin: 1rem auto;
}

#charactertag {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.introPic {
  grid-row: 1/span 2;
  grid-column: 2/3;
  min-width: 20rem;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.me {
  max-width: 0%;
  display: block;
  margin: 0 auto;
  min-height: 80%;
  max-height: 100%;
  overflow: clip;
}

.scrollEnter {
  margin-bottom: 1rem;
  margin-right: 10%;
  justify-self: flex-end;
}

.scrollPrompt {
  font-size: 2rem;
  font-weight: 700;
  color: #d1e8e2;
}

.scrollEnter span {
  display: inline-block;
  transform: rotate(270deg);
  font-size: 2rem;
  content: "➪";
}

.svg-div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10px;
}

.svg-screen {
  height: 100%;
  width: 100%;
  z-index: -1;
}

#mysquare {
  height: 5em;
  width: 5em;
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.4));
}

#mycircle {
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.4));
}

@-webkit-keyframes bounce {
  50% {
    transform: translate(0rem, -50%);
  }
  100% {
    transform: translate(0rem, 0%);
  }
}

@keyframes bounce {
  50% {
    transform: translate(0rem, -50%);
  }
  100% {
    transform: translate(0rem, 0%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
    gap: 6rem;
  }
  100% {
    gap: 1rem;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
    gap: 6rem;
  }
  100% {
    gap: 1rem;
  }
}
.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slide-in {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

#home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.personalSide {
  background-color: #d1e8e2;
  background-color: #2c3531;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.homeVideo {
  position: -webkit-sticky;
  position: sticky;
  top: 25%;
}
.homeVideo iframe {
  width: 56rem;
  height: 31.5rem;
}

.infoSide {
  display: flex;
  flex-direction: column;
}

.leadStatement {
  padding: 2rem;
  background-color: #d1e8e2;
  color: #2c3531;
  display: flex;
  justify-content: center;
}
.leadStatement h1 {
  font-size: 2rem;
  font-style: italic;
}

.skillsContainer {
  background-color: #2c3531;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.section_title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#skills_title {
  color: #ffcb9a;
}

.skills {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem 1.5rem;
  align-items: stretch;
  list-style-type: none;
}

.skillNames {
  font-size: 1.5rem;
  color: #d1e8e2;
  text-align: center;
}

.skillIcon {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.skillLogos {
  max-width: 5rem;
  max-height: 5rem;
}

#education_title {
  color: #116466;
}

.e_logo {
  display: inline-block;
  margin-right: 1rem;
  height: 2rem;
}

.education {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #116466;
  cursor: pointer;
}

.education_active {
  background-color: #2c3531;
  color: #ffcb9a;
}

#bullet {
  max-height: 2rem;
  max-width: 3rem;
  display: inline-block;
  transform: rotate(270deg);
  margin-right: 1rem;
}

.education_description {
  list-style-type: disc;
  padding-left: 3rem;
  color: #2c3531;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.education_description_active {
  max-height: 25rem;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1rem;
}

.bullet {
  font-size: 1.5rem;
}

.learningContainer {
  background-color: #2c3531;
  border-top: 0.5rem solid #116466;
  border-left: 0.25rem solid #116466;
  flex-grow: 1;
}

#learning_title {
  color: #d1e8e2;
}

.quotesContainer {
  display: flex;
  background-color: #d1e8e2;
  background-color: #2c3531;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #116466;
  border-radius: 1rem;
  padding: 1rem;
  width: 60%;
  min-height: 15rem;
}

.quote {
  font-size: 2rem;
  color: #116466;
  color: #d1e8e2;
}

.author {
  color: #ffcb9a;
  font-weight: 700;
  font-size: 1.5rem;
  align-self: flex-end;
}

.quoteButtons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.quoteButton {
  background-color: #ffcb9a;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.activeQuote {
  background-color: #116466;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.layout {
  background-color: #d1e8e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
}

.underNav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pageContent {
  flex-grow: 1;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

#about {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  width: 80rem;
}

.videoTopic {
  font-size: 3rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  color: #d1e8e2;
  background-color: #116466;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.aboutVideo {
  max-height: 0;
  overflow: hidden;
  background-color: #2c3531;
}

.video {
  height: 31.5rem;
  width: 56rem;
  display: block;
  margin: 2rem auto;
  height: 31.5rem;
  width: 56rem;
}

.activeVid {
  max-height: 60rem;
  color: #ffcb9a;
}

#aboutContactLink {
  width: 80rem;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.tab_title {
  font-size: 4rem;
  color: #116466;
  text-align: center;
}

.projects_motto {
  font-size: 2rem;
  color: #2c3531;
}

.project_container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  justify-items: center;
}

.project {
  position: relative;
  overflow: hidden;
  width: 25rem;
  height: 25rem;
}

.project_thumbnail {
  height: 100%;
  width: 100%;
}

.project_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #116466;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.15s ease-in;
}
.project_overlay p,
.project_overlay li {
  color: #d1e8e2;
}

.project_overlay.active {
  transform: translate(0, -101%);
  transition: transform 0.15s ease-in;
}

.project_title {
  text-align: center;
  font-size: 2rem;
  color: #d9b08c;
}

.project_description {
  font-size: 1.5rem;
}

.pSkillbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

.skills_used_title {
  color: #d9b08c;
  font-size: 1.5rem;
}

.project_skill {
  font-size: 1.25rem;
}

.project_links {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
}

.links {
  font-size: 1.25rem;
  color: #d9b08c;
}
.links:visited {
  color: white;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

#contact {
  display: flex;
  flex-direction: column;
}

.contactBanner {
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.contactBanner img {
  display: block;
  height: 10rem;
  width: 100%;
  opacity: 0.3;
}

.bannerOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2c3531;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  font-size: 3rem;
  color: #ffcb9a;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
}

.visitorForm {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 2rem;
  background-color: #116466;
  padding: 2rem;
  padding-left: 4rem;
  gap: 1rem;
  border-left: #116466 solid 0.5rem;
}
.visitorForm h1 {
  margin-left: 6rem;
}

.formTitle {
  display: inline-block;
  width: 75%;
}
.formTitle h1 {
  color: #ffcb9a;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.322), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  text-align: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2.5rem;
  position: relative;
}
.formInput input,
.formInput textarea {
  padding-left: 1rem;
  width: 75%;
  background-color: #d1e8e2;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 150%;
}
.formInput label {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 1.5rem;
  pointer-events: none;
  transition: top 0.1s linear;
  transition: left 0.1s linear;
}
.formInput label.active {
  position: absolute;
  font-size: 1rem;
  top: 0.5rem;
  left: 0.5rem;
  transition: top 0.1s linear;
  transition: left 0.1s linear;
}

.shortInput {
  height: 5rem;
}

.longInput {
  padding: 2rem;
}

#message {
  flex-grow: 1;
}

#messageBox {
  flex-grow: 1;
}

#submitButton {
  align-self: center;
  width: 10rem;
}
#submitButton input {
  text-align: center;
  font-weight: 700;
  padding-left: 0;
}
#submitButton input:active {
  background-color: #2c3531;
  color: #ffcb9a;
}

.contactLeft {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}
.contactLeft h1 {
  font-size: 2.5rem;
  color: #116466;
  margin-bottom: 1rem;
}
.contactLeft ul {
  padding: 1rem;
  padding-left: 2rem;
}
.contactLeft li,
.contactLeft p {
  font-size: 1.5rem;
  line-height: 150%;
}

.contactInfo {
  display: inline-block;
  flex-grow: 0.25;
}
.contactInfo p {
  display: inline-block;
  padding-left: 1rem;
}

#contactMission {
  font-size: 2rem;
  background-color: #2c3531;
  color: #d1e8e2;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.contactLines {
  display: flex;
  gap: 0.25rem;
}

.contactIcon {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.contactLinks {
  display: flex;
  align-items: center;
}
.contactLinks .linkedin_outer {
  fill: #116466;
}
.contactLinks .linkedin_outer:hover {
  fill: #2c3531;
}
.contactLinks .linkedin_outer_hover {
  fill: #2c3531;
}
.contactLinks .linkedin_inner {
  fill: #d1e8e2;
}
.contactLinks #github_logo {
  fill: #116466;
  height: 3.5rem;
}
.contactLinks #github_logo:hover {
  fill: #2c3531;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.menuBarcontainer {
  cursor: pointer;
  display: none;
}

.menuBarCase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.menuBar1,
.menuBar2,
.menuBar3 {
  width: 3.5rem;
  height: 0.5rem;
  background-color: #2c3531;
  transition: 0.25s;
}

.change .menuBar1 {
  transform: rotate(-45deg) translate(-0.9rem, 0.55rem);
}

.change .menuBar2 {
  opacity: 0;
}

.change .menuBar3 {
  transform: rotate(45deg) translate(-0.75rem, -0.75rem);
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

@media only screen and (max-width: 1175px) {
  .homeVideo iframe {
    width: 44.8rem;
    height: 25.2rem;
  }

  .skills {
    grid-template-columns: repeat(5, 1fr);
  }

  .project_container {
    grid-template-columns: repeat(2, 30rem);
    justify-content: center;
    row-gap: 2rem;
  }

  .contactWelcome h1 {
    font-size: 2rem;
  }

  .contactInfo h1 {
    font-size: 2rem;
  }

  #contactMission {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 945px) {
  .menuOptions {
    gap: 1.25rem;
  }

  .navButton {
    font-size: 1.5rem;
  }

  .homeVideo iframe {
    width: 35.84rem;
    height: 20.16rem;
  }

  .skills {
    grid-template-columns: repeat(4, 1fr);
  }

  .aboutContent {
    width: 70rem;
  }

  .videoTopic {
    font-size: 2.5rem;
    height: 4rem;
    border-radius: 0.25rem;
  }

  .video {
    width: 44.8;
    height: 31.5;
  }
}
@media only screen and (max-width: 800px) {
  .introPic {
    display: none;
  }

  .intro {
    grid-template: 1fr/1fr;
  }

  .intro_statement {
    max-inline-size: 80%;
  }

  .nameplate {
    gap: 1rem;
    align-items: center;
    height: 20rem;
  }

  .nameplate p {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }

  #charactertag {
    font-size: 1.5rem;
    margin: 0;
  }

  .intro-content {
    align-self: center;
    margin-right: 0;
  }

  .scrollEnter {
    align-self: center;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .menuBarcontainer {
    display: inline-block;
  }

  .menuOptions {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 7.5rem;
    left: -100%;
    padding-bottom: 7.5rem;
    flex-direction: column;
    gap: 0;
    z-index: -1;
    transition: left 0.2s ease-in-out;
  }

  .menuOptions.change {
    left: 0;
    transition: left 0.25s ease-in-out;
  }

  a.navButton {
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: #d1e8e2;
    color: #116466;
    border: 0.1rem solid #116466;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  a.navButton:hover {
    background-color: #116466;
    color: #d1e8e2;
  }
  a.navButton h1 {
    font-size: 2.5rem;
  }

  a.navButton.active {
    background-color: #2c3531;
    color: #ffcb9a;
  }

  .navSocials {
    display: none;
  }

  #home {
    grid-template-columns: 1fr;
  }

  .leadStatement h1 {
    max-width: 50rem;
  }

  .homeVideo iframe {
    width: 44.8rem;
    height: 25.2rem;
  }

  .section_title {
    margin-top: 1rem;
  }

  .skills {
    grid-template-columns: repeat(4, 1fr);
  }

  .quoteBox {
    min-width: 40rem;
  }

  .aboutContent {
    width: 85%;
  }

  .videoTopic {
    font-size: 2rem;
    height: 4rem;
    border-radius: 0.25rem;
  }

  .video {
    height: 22.05rem;
    width: 39.2rem;
  }

  .project_container {
    grid-template-columns: repeat(2, 25rem);
    row-gap: 2rem;
  }

  .project_description {
    font-size: 1.25rem;
  }

  .project {
    width: 20rem;
    height: 20rem;
  }

  .pSkillbox {
    max-height: 7rem;
  }

  .bannerText {
    font-size: 2.5rem;
  }

  .contactLeft {
    margin: 1rem;
    margin-left: 2rem;
    flex-direction: column-reverse;
  }

  .contactGrid {
    grid-template-columns: 1fr;
  }

  .visitorForm {
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
  }

  .contactWelcome {
    max-width: 80%;
    margin-bottom: 1.5rem;
  }

  .formInput input,
.formInput textarea {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .intro-content {
    width: 30rem;
  }

  .nameplate p {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
  }

  #charactertag {
    font-size: 1.15rem;
    margin: 0;
  }

  #nametag {
    font-size: 1.75rem;
  }

  .leadStatement h1 {
    font-size: 1.5rem;
  }

  .homeVideo iframe {
    width: auto;
    height: 18.14rem;
  }

  .section_title {
    font-size: 2.5rem;
  }

  .skills {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem 0.5rem;
  }

  .skill {
    font-size: 1.5rem;
  }

  .education {
    font-size: 1.5rem;
  }

  .quoteBox {
    width: 80%;
    min-width: 0;
  }

  .quoteButtons {
    gap: 1.5rem;
  }

  .quote {
    font-size: 1.5rem;
  }

  .videoTopic {
    font-size: 1.75rem;
    height: 4rem;
    border-radius: 0.25rem;
  }

  .video {
    height: 14.175rem;
    width: 25.2rem;
  }

  .project_container {
    grid-template-columns: repeat(1, 25rem);
  }

  .project {
    width: 20rem;
    height: 20rem;
  }

  .bannerText {
    font-size: 1.75rem;
  }

  .visitorForm {
    padding-left: 2rem;
  }

  .formTitle h1 {
    font-size: 2rem;
  }

  .formInput {
    margin-left: 1.5rem;
  }

  .contactWelcome h1 {
    margin: 1rem 3rem;
    font-size: 1.5rem;
  }

  .contactLeft {
    display: flex;
    align-items: center;
  }

  #contactMission {
    font-size: 1.5rem;
  }

  .contactInfo h1 {
    display: block;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.red {
  color: red;
}

.green {
  color: green;
}

.location-selector {
  display: inline-block;
}

.job-option {
  float: right;
  padding-left: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.listing-list {
  overflow-y: auto;
}

.job-option:hover {
  font-weight: 700;
}

#job_generate {
  border: 0.2rem solid black;
  margin-bottom: 0.2rem;
  padding: 20px;
  list-style-type: none;
}
#job_generate li {
  color: black;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.projectPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.tileText {
  font-size: 13px;
  text-align: center;
}

.row {
  width: 250px;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

.tile {
  height: 20px;
  width: 20px;
  background: lightgray;
  float: left;
  border-style: outset;
  border-width: 2px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.explored {
  border-style: inset;
}

.flagged,
.bombed {
  color: red;
}

.modal-screen {
  z-index: 998;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-content {
  z-index: 999;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  width: 200px;
  height: 120px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

#board {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  align-items: right;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.widgetApp {
  width: 550px;
  margin: 0 auto;
}

.auto {
  font-family: "Merriweather";
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 191px;
  height: 200px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background-color: violet;
  background-size: cover;
  background-position: center;
}

.autoContent {
  font-size: 1.5rem;
}

.autoSearch {
  height: 2rem;
}

.auto > * {
  margin-left: 30px;
}

.auto > input {
  margin: 10px 30px 0 30px;
  border: 1px solid black;
}

.auto li {
  cursor: pointer;
  list-style-type: square;
}

.auto-enter {
  opacity: 0.01;
  transform: translateY(500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

.auto-leave {
  opacity: 1;
  transform: translateY(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateY(500%);
  transition: opacity 700ms ease-in, transform 700ms ease-in;
}

/* Clock */
.clockContainer {
  margin: 2rem;
}

.clock {
  font-size: 28px;
  color: white;
  font-family: "Orbitron";
  width: 550px;
  height: 94px;
  border: 2px solid black;
  padding: 10px;
  background-color: orange;
  background-size: cover;
  background-position-y: 20%;
}

.clockContent {
  font-size: 2rem;
}

.clock p {
  font-family: "merriweather";
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

/* Weather */
.weather {
  font-size: 28px;
  width: 550px;
  height: 94px;
  border: 2px solid black;
  margin: 0 20px 20px 20px;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
  background-size: cover;
  background-position-y: 20%;
}

.weatherContent {
  font-size: 2rem;
}

.weather p {
  margin: 8px;
}

.loading {
  margin-top: 30px;
}

/* Tabs */
.tab-header {
  width: 200px;
  height: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.tab-header > li {
  width: 65px;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 4px;
  text-align: center;
  cursor: pointer;
  background-color: lightpink;
}

.tab-header > li:first-child {
  border-left: 2px solid black;
}

.tab-header > li:last-child {
  border-right: 2px solid black;
}

.tab-header > li:hover {
  background-color: black;
  color: white;
}

.activeTab {
  font-weight: bold;
}

.tabs {
  width: 240px;
  height: 200px;
}

.tab-content {
  font-weight: bold;
  color: white;
  height: 192px;
  margin: 0 20px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  background-size: cover;
}

.tab-content article {
  text-align: center;
}

.interactive {
  display: flex;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */