@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Playfair+Display:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #116466;
  font-size: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.199);
  -webkit-animation: navdrop 0.5s ease-in-out;
          animation: navdrop 0.5s ease-in-out;
  height: 7.5rem;
  z-index: 100;
}

a.navButton.active {
  background-color: #2c3531;
  color: #ffcb9a;
}

.navButton {
  font-size: 1.75rem;
  text-decoration: none;
  padding: 2rem 0.5rem;
  color: #d1e8e2;
  display: inline-block;
  border-radius: 10%;
}

.navsection {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 33%;
  color: #d1e8e2;
}

#navleft {
  padding-left: 2rem;
}

#navmid {
  justify-content: center;
}

#self_logo {
  display: inline-block;
  background-color: #d1e8e2;
  border-radius: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 0.75rem;
  font-size: 4rem;
  font-weight: 700;
  color: #2c3531;
}

#navright {
  flex-direction: row-reverse;
  padding-right: 1rem;
}

.nav_logo {
  display: inline-block;
}
.nav_logo .linkedin_outer {
  fill: #d1e8e2;
}
.nav_logo .linkedin_outer_hover {
  fill: #2c3531;
}
.nav_logo .linkedin_inner {
  fill: #116466;
}
.nav_logo .linkedin_inner_hover {
  fill: #d9b08c;
}
.nav_logo #github_logo {
  fill: #d1e8e2;
}
.nav_logo #github_logo:hover {
  fill: #2c3531;
}

#nametag {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  color: #d1e8e2;
}

@-webkit-keyframes navdrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes navdrop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.intro {
  position: relative;
  display: grid;
  grid-template: 1fr/2fr 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(white, 50%, #2b6777);
}

.greetings {
  grid-row: 1/span 1;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.logo-container {
  align-self: flex-start;
  display: flex;
  margin: 2rem 2rem 1rem;
  gap: 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  width: 7.5rem;
}

.logo_image {
  width: 100%;
  height: 70%;
}

.logo_text {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.logo_text span {
  font-size: inherit;
}

.move {
  transform: translateX(-100%);
}

.intro-content {
  margin-right: 10%;
  /* Use this line to toggle with nameplate sign. Nameplate and charactertag fonts must be resized as well */
  width: 37rem;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.intro_statement {
  align-self: center;
  max-inline-size: 60%;
  text-align: center;
  color: white;
}

.intro_statement p {
  font-size: 2em;
}

.nameplate {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  color: #2c3531;
  background-color: #d1e8e2;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.322), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 1rem;
  /* border: 1.5rem ridge rgba(207, 121, 9, 0.589); */
  border: 1.5rem ridge #116466;
  /* border: 1.5rem ridge rgba(32, 136, 233, 0.507); */
}

.nameplate p {
  display: block;
  font-size: 4em;
  font-weight: 700;
  margin: 1rem auto;
}

#charactertag {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.introPic {
  grid-row: 1/span 2;
  grid-column: 2/3;
  min-width: 20rem;
  z-index: 1;
  display: flex;
  flex-direction: column-reverse;
}

.me {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  min-height: 80%;
  max-height: 100%;
  overflow: clip;
}

.scrollEnter {
  margin-bottom: 1rem;
  margin-right: 10%;
  justify-self: flex-end;
}

.scrollPrompt {
  font-size: 2rem;
  font-weight: 700;
  color: #d1e8e2;
}

.scrollEnter span {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 2rem;
  content: "➪";
}

.svg-div {
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 10px;
}

.svg-screen {
  height: 100%;
  width: 100%;
  z-index: -1;
}

#mysquare {
  height: 5em;
  width: 5em;
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.4));
}

#mycircle {
  r: 2.5em;
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.4));
}

@-webkit-keyframes bounce {
  50% {
    transform: translate(0rem, -50%);
  }
  100% {
    transform: translate(0rem, 0%);
  }
}

@keyframes bounce {
  50% {
    transform: translate(0rem, -50%);
  }
  100% {
    transform: translate(0rem, 0%);
  }
}
@-webkit-keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
    gap: 6rem;
  }
  100% {
    gap: 1rem;
  }
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
    gap: 6rem;
  }
  100% {
    gap: 1rem;
  }
}
.bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.slide-in {
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

#home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.personalSide {
  background-color: #d1e8e2;
  background-color: #2c3531;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.homeVideo {
  position: -webkit-sticky;
  position: sticky;
  top: 25%;
}
.homeVideo iframe {
  width: 56rem;
  height: 31.5rem;
}

.infoSide {
  display: flex;
  flex-direction: column;
}

.leadStatement {
  padding: 2rem;
  background-color: #d1e8e2;
  color: #2c3531;
}
.leadStatement h1 {
  font-size: 2rem;
  font-style: italic;
}

.skillsContainer {
  background-color: #2c3531;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.section_title {
  font-size: 3rem;
  text-align: center;
}

#skills_title {
  color: #ffcb9a;
}

.skills {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem 1.5rem;
  align-items: center;
  list-style-type: none;
}

.skill {
  font-size: 1.5rem;
  color: #d1e8e2;
  text-align: center;
}

#education_title {
  color: #116466;
}

.e_logo {
  display: inline-block;
  margin-right: 1rem;
  height: 2rem;
}

.education {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #116466;
  cursor: pointer;
}

.education_active {
  background-color: #2c3531;
  color: #ffcb9a;
}

#bullet {
  max-height: 2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: inline-block;
  transform: rotate(270deg);
  margin-right: 1rem;
}

.education_description {
  list-style-type: disc;
  padding-left: 3rem;
  color: #2c3531;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.education_description_active {
  max-height: 15rem;
  transition: max-height 0.2s ease-out;
  margin-bottom: 1rem;
}

.bullet {
  font-size: 1.5rem;
}

.learningContainer {
  background-color: #2c3531;
  border-top: 0.5rem solid #116466;
  border-left: 0.25rem solid #116466;
  flex-grow: 1;
}

#learning_title {
  color: #d1e8e2;
}

.quotesContainer {
  display: flex;
  background-color: #d1e8e2;
  background-color: #2c3531;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.quoteBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #116466;
  border-radius: 1rem;
  padding: 1rem;
  width: 60%;
  min-height: 15rem;
}

.quote {
  font-size: 2rem;
  color: #116466;
  color: #d1e8e2;
}

.author {
  color: #ffcb9a;
  font-weight: 700;
  font-size: 1.5rem;
  align-self: flex-end;
}

.quoteButtons {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.quoteButton {
  background-color: #ffcb9a;
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.activeQuote {
  background-color: #116466;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.layout {
  background-color: #d1e8e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
}

.underNav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.pageContent {
  flex-grow: 1;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.aboutContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.videoTopic {
  font-size: 3rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  color: #d1e8e2;
  background-color: #116466;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.aboutVideo {
  max-height: 0;
  overflow: hidden;
  background-color: #2c3531;
}

.video {
  height: 31.5rem;
  width: 56rem;
  display: block;
  margin: 2rem auto;
  height: 31.5rem;
  width: 56rem;
}

.activeVid {
  max-height: 60rem;
  color: #ffcb9a;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

.portfolioCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectType {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.projectTitleContainers {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.projectTitleContainers h1 {
  font-size: 2.5rem;
  color: #116466;
}
.projectTitleContainers h1:before,
.projectTitleContainers h1:after {
  content: "―――――――";
}

.interactiveProjectList {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
}

.featureButton {
  display: flex;
  justify-content: flex-end;
}
.featureButton button {
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 0.025rem;
  background-color: #ffcb9a;
  color: #2c3531;
}
.featureButton button.active {
  display: none;
}

.projectShowcase {
  background-color: #2c3531;
}
.projectShowcase p {
  cursor: pointer;
}

.projectName {
  display: inline-block;
  font-size: 2rem;
  height: 3.5rem;
  text-align: center;
  vertical-align: middle;
  color: #d1e8e2;
  background-color: #116466;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.projectName.active {
  color: #ffcb9a;
}

.project {
  height: 30rem;
  max-height: 0;
  overflow: hidden;
  color: #d1e8e2;
}

.project.active {
  position: relative;
  max-height: 30rem;
  overflow-y: auto;
  border: 0.2rem solid #116466;
}

.projectFeatures {
  z-index: 10;
  height: 90%;
  width: 80%;
  background-color: white;
  color: black;
  border: 0.5rem solid #ffcb9a;
  border-radius: 1rem;
  top: 5%;
  left: 10%;
  z-index: -1;
  position: relative;
}

.projectFeatures.active {
  z-index: 1;
}

.featureClose {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color: #116466;
  padding: 0.15rem;
}

.navButton:hover {
  background-color: #d1e8e2;
  color: #116466;
}

#self_logo:hover {
  background-color: #2c3531;
  color: #ffcb9a;
}

#contact {
  display: flex;
  flex-direction: column;
}

.contactBanner {
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.contactBanner img {
  display: block;
  height: 10rem;
  width: 100%;
  opacity: 0.3;
}

.bannerOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2c3531;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  font-size: 3rem;
  color: #ffcb9a;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
}

.visitorForm {
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 2rem;
  background-color: #116466;
  padding: 2rem;
  padding-left: 4rem;
  gap: 1rem;
  border-left: #116466 solid 0.5rem;
}
.visitorForm h1 {
  margin-left: 6rem;
}

.formTitle {
  display: inline-block;
  width: 75%;
}
.formTitle h1 {
  color: #ffcb9a;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0.322), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  text-align: center;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 4rem;
  position: relative;
}
.formInput input,
.formInput textarea {
  padding-left: 1rem;
  width: 75%;
  background-color: #d1e8e2;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 150%;
}
.formInput label {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  font-size: 1.5rem;
  pointer-events: none;
  transition: top 0.1s linear;
  transition: left 0.1s linear;
}
.formInput label.active {
  position: absolute;
  font-size: 1rem;
  top: 0.5rem;
  left: 0.5rem;
  transition: top 0.1s linear;
  transition: left 0.1s linear;
}

.shortInput {
  height: 5rem;
}

.longInput {
  padding: 2rem;
}

#message {
  flex-grow: 1;
}

#messageBox {
  flex-grow: 1;
}

#submitButton {
  align-self: center;
  width: 10rem;
}
#submitButton input {
  text-align: center;
  font-weight: 700;
  padding-left: 0;
}
#submitButton input:active {
  background-color: #2c3531;
  color: #ffcb9a;
}

.contactLeft {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}
.contactLeft h1 {
  font-size: 2.5rem;
  color: #116466;
  margin-bottom: 1rem;
}
.contactLeft ul {
  padding: 1rem;
  padding-left: 2rem;
}
.contactLeft li,
.contactLeft p {
  font-size: 1.5rem;
  line-height: 150%;
}

.contactInfo {
  flex-grow: 0.25;
}
.contactInfo p {
  display: inline-block;
  padding-left: 1rem;
}

#contactMission {
  font-size: 2rem;
  background-color: #2c3531;
  color: #d1e8e2;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.contactInfo .contactIcon {
  display: inline-block;
  max-height: 1.5rem;
}

.contactLinks {
  display: flex;
  align-items: center;
}
.contactLinks .linkedin_outer {
  fill: #116466;
}
.contactLinks .linkedin_outer:hover {
  fill: #2c3531;
}
.contactLinks .linkedin_outer_hover {
  fill: #2c3531;
}
.contactLinks .linkedin_inner {
  fill: #d1e8e2;
}
.contactLinks #github_logo {
  fill: #116466;
  height: 3.5rem;
}
.contactLinks #github_logo:hover {
  fill: #2c3531;
}

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */