@import "./css/layout/navigation.css";
@import "./css/pages/intro.css";
@import "./css/pages/home.css";
@import "./css/layout/layout.css";
@import "./css/pages/about.css";
@import "./css/pages/portfolio.css";
@import "./css/pages/contact.css";

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
