@import "./variables";

@media only screen and (max-width: 1175px) {
  // Home Responsive

  // Youtube Video
  .homeVideo {
    iframe {
      width: 44.8rem;
      height: 25.2rem;
    }
  }

  // This is the container for the skills. (Grid)
  .skills {
    grid-template-columns: repeat(4, 1fr);
  }

  // Contact us
  .contactWelcome {
    h1 {
      font-size: 2rem;
    }
  }
  .contactInfo {
    h1 {
      font-size: 2rem;
    }
  }

  #contactMission {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 945px) {
  // Navigation Bar
  .menuOptions {
    gap: 1.25rem;
  }

  .navButton {
    font-size: 1.5rem;
  }

  // Home Responsive

  // Youtube Video
  .homeVideo {
    iframe {
      width: 35.84rem;
      height: 20.16rem;
    }
  }

  // This is the container for the skills. (Grid)
  .skills {
    grid-template-columns: repeat(3, 1fr);
  }

  // About me

  .aboutContent {
    width: 70rem;
  }

  .videoTopic {
    font-size: 2.5rem;
    height: 4rem;
    border-radius: 0.25rem;
  }

  .video {
    width: 44.8;
    height: 31.5;
  }

  // Portfolio

  .projectTitleContainers {
    h1 {
      font-size: 1.5rem;
    }
    h1:before,
    h1:after {
      content: "――――";
    }
  }
}

@media only screen and (max-width: 800px) {
  // Intro

  .introPic {
    display: none;
  }

  .intro {
    grid-template: 1fr / 1fr;
  }

  .intro_statement {
    max-inline-size: 80%;
  }

  .nameplate {
    gap: 1rem;
    align-items: center;
    height: 20rem;
  }

  .nameplate p {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }

  #charactertag {
    font-size: 1.5rem;
    margin: 0;
  }

  .intro-content {
    align-self: center;
    margin-right: 0;
  }

  .scrollEnter {
    align-self: center;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  //Navigation

  .menuBarcontainer {
    display: inline-block;
  }

  .menuOptions {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 7.5rem;
    left: -100%;
    padding-bottom: 7.5rem;
    flex-direction: column;
    gap: 0;
    z-index: -1;
    transition: left 0.2s ease-in-out;
  }

  .menuOptions.change {
    left: 0;
    transition: left 0.25s ease-in-out;
  }

  a.navButton {
    display: flex;
    height: 25%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: $dominate;
    color: $subdom;
    border: 0.1rem solid $subdom;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
      background-color: $subdom;
      color: $dominate;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  a.navButton.active {
    background-color: $secondAccent;
    color: $secondSub;
  }

  .navSocials {
    display: none;
  }

  // Home Responsive

  // Grid format
  #home {
    grid-template-columns: 1fr;
  }

  .leadStatement {
    h1 {
      max-width: 50rem;
    }
  }

  .homeVideo {
    iframe {
      width: 44.8rem;
      height: 25.2rem;
    }
  }

  .section_title {
    margin-top: 1rem;
  }

  .quoteBox {
    min-width: 40rem;
  }
  // About me
  .aboutContent {
    width: 85%;
  }

  .videoTopic {
    font-size: 2rem;
    height: 4rem;
    border-radius: 0.25rem;
  }

  .video {
    @include videoSize(0.7);
  }

  // Portfolio

  .projectDetailBox {
    flex-direction: column-reverse;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  #music_app_concept {
    margin-bottom: 1.5rem;
  }

  .projectDetailText {
    max-width: 100%;
  }

  .projectDetailBox > .projectDetailText > .projectDetailSubtitle {
    font-size: 1.75rem;
  }

  .projectDetailBox > .projectDetailText > ul > .projectDetailNote {
    font-size: 1.5rem;
  }

  //contact

  .bannerText {
    font-size: 2.5rem;
  }
  .contactLeft {
    margin: 1rem;
    margin-left: 2rem;
    flex-direction: column-reverse;
  }

  .contactGrid {
    grid-template-columns: 1fr;
  }

  .visitorForm {
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 1rem;
  }

  .contactWelcome {
    max-width: 80%;
    margin-bottom: 1.5rem;
  }

  .formInput {
    input,
    textarea {
      width: 90%;
    }
  }
}

@media only screen and (max-width: 500px) {
  // Intro

  .intro-content {
    width: 30rem;
  }

  .nameplate p {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
  }

  #charactertag {
    font-size: 1.15rem;
    margin: 0;
  }

  // Navigation

  #nametag {
    font-size: 1.75rem;
  }

  // Home Responsive

  .leadStatement {
    h1 {
      font-size: 1.5rem;
    }
  }

  // Youtube Video
  .homeVideo {
    iframe {
      width: auto;
      height: 18.14rem;
    }
  }

  // Each section Title
  .section_title {
    font-size: 2.5rem;
  }

  // This is the container for the skills. (Grid)
  .skills {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem 0.5rem;
  }

  // Attributes for each skill
  .skill {
    font-size: 1.5rem;
  }

  // Each education menu
  .education {
    font-size: 1.5rem;
  }

  .quoteBox {
    width: 80%;
    min-width: 0;
  }

  .quoteButtons {
    gap: 1.5rem;
  }

  .quote {
    font-size: 1.5rem;
  }

  // About me

  .videoTopic {
    font-size: 1.75rem;
    height: 4rem;
    border-radius: 0.25rem;
  }

  .video {
    @include videoSize(0.45);
  }

  // Portfolio

  .projectLists {
    gap: 1.5rem;
  }

  .projectTitleContainers {
    h1:before,
    h1:after {
      content: "";
    }
  }

  .projectDetailTitle {
    font-size: 2rem;
  }

  .projectDetailSubtitle {
    font-size: 1.75rem;
  }

  .projectDetailNote {
    font-size: 1.25rem;
  }

  .featureClose {
    margin-left: 92%;
  }

  //Contact me

  .bannerText {
    font-size: 1.75rem;
  }

  .visitorForm {
    padding-left: 2rem;
  }

  .formTitle {
    h1 {
      font-size: 2rem;
    }
  }

  .formInput {
    margin-left: 1.5rem;
  }

  .contactWelcome {
    h1 {
      margin: 1rem 3rem;
      font-size: 1.5rem;
    }
  }

  .contactLeft {
    display: flex;
    align-items: center;
  }

  #contactMission {
    font-size: 1.5rem;
  }

  .contactInfo {
    h1 {
      display: block;
      font-size: 1.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
