@import "../helpers/variables";

.navbar {
  background-color: $color30;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.199);
  animation: navdrop 0.5s ease-in-out;
  height: 7.5rem;
}

.navButton {
  font-size: 1.75rem;
  text-decoration: none;
  padding: 2rem 0.5rem;
  color: $color60;
  // margin: 1rem;
  display: inline-block;
}

.navsection {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 33%;
  color: $color60;
}

#navleft {
  padding-left: 2rem;
}

#navright {
  flex-direction: row-reverse;
  padding-right: 1rem;
}

#navmid {
  justify-content: center;
}

.nav_logo {
  // max-height: 4rem;
  // width: 4rem;
  display: inline-block;
}

#linkedin_outer {
  fill: $color60;
}

#linkedin_inner {
  fill: $color30;
}

#github_logo {
  fill: $color60;
}

#self_logo {
  background-color: $color60;
  border-radius: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 0.5rem;
}

#navmid div p {
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 4rem;
  font-weight: 700;
  color: $color60alt;
  padding: 0.15rem;
}

#signature {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  color: $color60;
}

@keyframes navdrop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
