@import "../helpers/variables";

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: $subdom;
  font-size: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0.3em 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.199);
  animation: navdrop 0.5s ease-in-out;
  height: 7.5rem;
  z-index: 100;
}

a.navButton.active {
  background-color: $secondAccent;
  color: $secondSub;
}

.navButton {
  font-size: 1.75rem;
  text-decoration: none;
  padding: 2rem 0.5rem;
  color: $dominate;
  display: inline-block;
  border-radius: 10%;

  @extend %hover_colors;
}

.navsection {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 33%;
  color: $dominate;
}

#navleft {
  padding-left: 2rem;
}

#navmid {
  justify-content: center;
}

#self_logo {
  display: inline-block;
  background-color: $dominate;
  border-radius: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding: 0.75rem;
  font-size: 4rem;
  font-weight: 700;
  color: $text;

  @extend %hover_colors_second;
}

#navright {
  flex-direction: row-reverse;
  padding-right: 1rem;
}

.nav_logo {
  display: inline-block;

  .linkedin_outer {
    fill: $dominate;
  }

  .linkedin_outer_hover {
    fill: $secondAccent;
  }

  .linkedin_inner {
    fill: $subdom;
  }

  .linkedin_inner_hover {
    fill: $accent;
  }

  #github_logo {
    fill: $dominate;
    &:hover {
      fill: $secondAccent;
    }
  }
}

#nametag {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  color: $secondtext;
}

@keyframes navdrop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}
