@import "navigation.scss";
@import "footer";
@import "../pages/intro.scss";
@import "../pages/home.scss";
@import "layout.scss";
@import "../pages/about.scss";
@import "../pages/portfolio.scss";
@import "../pages/contact.scss";
@import "../helpers/helperStyles";

* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
}
