@import "../helpers/variables.scss";

#about {
  margin-bottom: 2rem;
}

.aboutContent {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.videoTopic {
  font-size: 3rem;
  height: 5rem;
  text-align: center;
  vertical-align: middle;
  color: $dominate;
  background-color: $subdom;
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.aboutVideo {
  max-height: 0;
  overflow: hidden;
  background-color: $secondAccent;
}

@mixin videoSize($ratio: 1) {
  height: 31.5rem * $ratio;
  width: 56rem * $ratio;
}

.video {
  @include videoSize();
  display: block;
  margin: 2rem auto;
  height: 31.5rem;
  width: 56rem;
}

.activeVid {
  max-height: 60rem;
  color: $secondSub;
}
