@import "../helpers/variables.scss";

#contact {
  display: flex;
  flex-direction: column;
}

.contactBanner {
  height: 10rem;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    height: 10rem;
    width: 100%;
    opacity: 0.3;
    // transform: translate(0 -20rem);
  }
}

.bannerOverlay {
  position: absolute;
  // top: 0;
  height: 100%;
  width: 100%;
  background-color: $secondAccent;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerText {
  font-size: 3rem;
  color: $secondSub;
}

.contactGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-grow: 1;
}

.visitorForm {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  height: 90%;
  margin: 2rem;
  //   margin-left: 5rem;
  background-color: $subdom;
  padding: 2rem;
  padding-left: 4rem;
  gap: 1rem;
  border-left: $subdom solid 0.5rem;

  h1 {
    margin-left: 6rem;
  }
}

.formTitle {
  display: inline-block;
  width: 75%;
  h1 {
    color: $secondSub;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgba(0, 0, 0, 0.322), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 3rem;
    text-align: center;
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 4rem;
  position: relative;

  input,
  textarea {
    padding-left: 1rem;
    width: 75%;
    background-color: $dominate;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    line-height: 150%;
  }

  label {
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.5rem;
    pointer-events: none;
  }

  label.active {
    position: absolute;
    font-size: 1rem;
    top: 0.5rem;
    left: 0.5rem;
  }
}

.shortInput {
  height: 5rem;
}

.longInput {
  padding: 2rem;
}

#message {
  flex-grow: 1;
}

#messageBox {
  flex-grow: 1;
}

#submitButton {
  //   margin-top: 5rem;
  align-self: center;
  width: 10rem;

  input {
    text-align: center;
    font-weight: 700;
    padding-left: 0;
  }
}

.contactLeft {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;

  h1 {
    font-size: 2.5rem;
    color: $subdom;
    margin-bottom: 1rem;
  }

  ul {
    padding: 1rem;
    padding-left: 2rem;
  }

  li,
  p {
    font-size: 1.5rem;
    line-height: 150%;
  }
}
.contactInfo {
  flex-grow: 0.25;
  p {
    display: inline-block;
    padding-left: 1rem;
  }
}

#contactMission {
  font-size: 2rem;
  background-color: $secondAccent;
  color: $dominate;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.contactInfo .contactIcon {
  display: inline-block;
  max-height: 1.5rem;
}

.contactLinks {
  display: flex;
  align-items: center;

  .linkedin_outer {
    fill: $subdom;
    &:hover {
      fill: $secondAccent;
    }
  }

  .linkedin_outer_hover {
    fill: $secondAccent;
  }

  .linkedin_inner {
    fill: $dominate;
  }

  #github_logo {
    fill: $subdom;
    height: 3.5rem;
    &:hover {
      fill: $secondAccent;
    }
  }
}
