@import "../helpers/variables.scss";

.leadStatement {
  padding: 2rem;
  background-color: $color60;

  h1 {
    font-size: 2rem;
    font-style: italic;
    width: 60%;
  }
}

.skillsContainer {
  background-color: $color60alt;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h1,
  ul {
    width: 60%;
  }
}

.section_title {
  font-size: 3rem;
  text-align: center;
  // border: 1px solid white;
}

#skills_title {
  color: $color30alt;
}

.skills {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 2rem;
  align-items: center;
  list-style-type: none;
}

.skill {
  font-size: 2rem;
  color: $color60;
  text-align: center;
}

.educationContainer {
  h1,
  h2,
  ul {
    width: 60%;
  }
}

#education_title {
  color: $color30;
}

.education {
  font-size: 2rem;
}

#bullet {
  max-height: 2rem;
  max-width: fit-content;
  display: inline-block;
  border: 1px solid black;
  transform: rotate(270deg);
}

.education_description {
  list-style-type: disc;
  transform: translate(4rem, 0);
}

.bullet {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}
