@import "../helpers/variables.scss";

.pageContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.personalSide {
  background-color: $secondAccent;
}

.leadStatement {
  padding: 2rem;
  background-color: $dominate;
  color: $text;

  h1 {
    font-size: 2rem;
    font-style: italic;
    // width: 60%;
  }
}

.skillsContainer {
  background-color: $secondAccent;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.section_title {
  font-size: 3rem;
  text-align: center;
  // border: 1px solid white;
}

#skills_title {
  color: $secondSub;
}

.skills {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem 2rem;
  align-items: center;
  list-style-type: none;
}

.skill {
  font-size: 1.5rem;
  color: $secondtext;
  text-align: center;
}

// .educationContainer {
// }

#education_title {
  color: $subdom;
}

.education {
  font-size: 2rem;
  // background-color: $subdom;
  color: $subdom;
  // border: 0.3rem solid $subdom;
  cursor: pointer;
}

.education_active {
  background-color: $secondAccent;
  color: $secondSub;
  fill: $secondSub;
  svg {
    fill: $secondSub;
  }
}

#bullet {
  max-height: 2rem;
  max-width: fit-content;
  display: inline-block;
  transform: rotate(270deg);
  margin-right: 1rem;
}

.education_description {
  display: none;
  list-style-type: disc;
  padding-left: 3rem;
  color: $text;
  // transform: translate(4rem, 0);
}

.bullet {
  font-size: 1.5rem;
}

@keyframes drop-down {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
