@import "../helpers/variables.scss";

.leadStatement {
  padding: 2rem;
  background-color: $color60;

  h1 {
    font-size: 2rem;
    font-style: italic;
    width: 60%;
  }
}

.skillsContainer {
  background-color: $color60alt;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h1,
  ul {
    width: 60%;
  }
}

.section_title {
  font-size: 3rem;
  text-align: center;
  // border: 1px solid white;
}

#skills_title {
  color: $color30alt;
}

.skills {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem 2rem;
  align-items: center;
  list-style-type: none;
}

.skill {
  font-size: 2rem;
  color: $color60;
  text-align: center;
}

.educationContainer {
  h1,
  h2,
  ul {
    width: 60%;
  }
}

#education_title {
  color: $color30;
}

.education {
  font-size: 2rem;
  // background-color: $color30;
  color: $color30;
  // border: 0.3rem solid $color30;
  cursor: pointer;
}

.education_active {
  background-color: $color60alt;
  color: $color30alt;
  fill: $color30alt;
  svg {
    fill: $color30alt;
  }
}

#bullet {
  max-height: 2rem;
  max-width: fit-content;
  display: inline-block;
  transform: rotate(270deg);
  margin-right: 1rem;
}

.education_description {
  display: none;
  list-style-type: disc;
  transform: translate(4rem, 0);
}

.bullet {
  font-size: 1.5rem;
}

@keyframes drop-down {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}
