@import "../helpers/variables.scss";

#portfolio {
  margin-bottom: 2rem;
}

.portfolioCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.projectType {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.projectTitleContainers {
  display: flex;
  justify-content: center;
  margin: 0.75rem;

  h1 {
    font-size: 2.5rem;
    color: $subdom;
  }

  h1:before,
  h1:after {
    content: "―――――――";
  }
}

.projectLists {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 0.5rem;
}

.featureButton {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  top: 0;

  button {
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 0.025rem;
    background-color: $secondSub;
    color: $text;
  }

  button.active {
    display: none;
  }
}

.projectShowcase {
  background-color: $secondAccent;

  p {
    cursor: pointer;
  }
}

.projectName {
  display: inline-block;
  font-size: 1.5rem;
  height: 2.5rem;
  text-align: center;
  vertical-align: middle;
  color: $dominate;
  background-color: $subdom;
  border-radius: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
}

.projectName.active {
  color: $secondSub;
}

.projectFeatures {
  height: 35rem;
  max-height: 0;
  overflow: hidden;
  color: $dominate;
}

.projectFeatures.active {
  max-height: 90%;
  overflow-y: auto;
  border: 0.2rem solid $subdom;
}

.projectWindowContainer {
  position: absolute;
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  background-color: white;
  color: black;
  border: 0.5rem solid $secondSub;
  border-radius: 1rem;
  bottom: 1.5rem;
  left: 5%;
  z-index: -1;
}

.project {
  position: relative;
  max-height: 0;
  overflow: hidden;
}

.project.active {
  max-height: 80vh;
  height: 80vh;
  overflow-y: auto;
}

.projectWindowContainer.active {
  z-index: 10;
}

.featureClose {
  position: sticky;
  display: inline-block;
  font-size: 1.5rem;
  top: 0.5rem;
  margin-left: 97%;
  right: 2rem;
  cursor: pointer;
  color: $subdom;
  padding: 0.15rem;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
}

.projectDetailTitle {
  font-size: 2.5rem;
  align-self: center;
  color: $secondSub;
}

.projectDetailSubtitle {
  font-size: 2rem;
}

ul {
  color: white;
}

.projectDetailNote {
  font-size: 1.75rem;
  padding-left: 3rem;
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.projectDetailBox {
  display: flex;
  align-items: center;
  gap: 5rem;

  img {
    height: auto;
    width: 30rem;
    display: inline-block;
    margin-bottom: 1rem;
  }

  .projectDetailNote {
    padding: 0;
  }
}

.projectDetailText {
  max-width: 50%;
}

#music_app_concept {
  padding: 0;
}
