@import "../helpers/variables.scss";

.portfolioCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectType {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.projectTitleContainers {
  display: flex;
  justify-content: center;
  margin: 1rem;

  h1 {
    font-size: 2.5rem;
    color: $subdom;
  }

  h1:before,
  h1:after {
    content: "―――――――";
  }
}

.interactiveProjectList {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
}

.featureButton {
  display: flex;
  justify-content: flex-end;

  button {
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 0.025rem;
    background-color: $secondSub;
    color: $text;
  }

  button.active {
    display: none;
  }
}

.projectShowcase {
  background-color: $secondAccent;

  p {
    cursor: pointer;
  }
}

.projectName {
  display: inline-block;
  font-size: 2rem;
  height: 3.5rem;
  text-align: center;
  vertical-align: middle;
  color: $dominate;
  background-color: $subdom;
  border-radius: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.projectName.active {
  color: $secondSub;
}

.project {
  height: 30rem;
  max-height: 0;
  overflow: hidden;
  color: $dominate;
}

.project.active {
  //   position: relative;
  max-height: 30rem;
  overflow-y: auto;
  border: 0.2rem solid $subdom;
}

.projectFeatures {
  z-index: 10;
  //   position: sticky;
  height: 80%;
  width: 80%;
  background-color: white;
  color: black;
  border: 0.5rem solid $secondSub;
  border-radius: 1rem;
  top: 5%;
  left: 10%;
  z-index: -1;
  position: relative;
}

.projectFeatures.active {
  z-index: 1;
}

.featureClose {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color: $subdom;
  //   background-color: $secondAccent;
  padding: 0.15rem;
}
